Log
/BalanceServer/BalanceServer/x64
/CentralServer/CSBattleMgr/x64
/GateServer/GSKernel/x64
/LogServer/LogServer/x64
/SceneServer/SSBattleMgr/x64
*.sdf
*.suo
/ELogging/ELogging/Debug
/ELogging/ELogging/x64
/LoginServer/LoginServer/x64
/BalanceServer/BalanceServer/Debug
/CentralServer/CSBattleMgr/Debug
/GateServer/GSKernel/Debug
/LoginServer/LoginServer/Debug
/LogServer/LogServer/Debug
/SceneServer/SSBattleMgr/Debug
